@page
@model Lab5.Pages.AnswerImages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AnswerImage</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="custom-radio">
                    <input type="radio" name="Question" value="a" checked>What will the computers look like in 20 years?<br />
                    <input type="radio" name="Question" value="b">What will the earth look like in 20 years?<br />
                </div>
                <div class="btn btn-sm float-left">
                    <input name="file" type="file">
                </div>
            </div>

            <div class="form-group">
                <button name="upload" class="btn btn-primary">Upload Now</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}